.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;

  color: $secondary-color;
}

.nav-link.current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
