.header {
  border-bottom: 1px solid #ececec;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px 10px 15px;

  @include mq(tablet) {
    display: none;
  }
}

.mobile-menu-btn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 0;

  border: none;
  background-color: transparent;
  transition: fill $anim-duration $anim-timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.header-container {
  @include mq(mobile-only) {
    display: none;
  }

  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;

  color: $secondary-color;
}

.nav-link.current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @include mq(desktop) {
    flex-direction: row;
  }
}

.contacts-item:first-child {
  @include mq(tablet-only) {
    margin-bottom: 10px;
  }

  @include mq(desktop) {
    margin-right: 50px;
    align-items: center;
  }
}

.contacts-link {
  display: flex;
  align-items: center;

  @include mq(tablet-only) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contacts-icon {
  fill: currentColor;
  margin-right: 8px;

  @include mq(desktop) {
    margin-right: 10px;
  }
}

.mail-icon {
  @include mq(tablet-only) {
    width: 14px;
    height: 10px;
  }
}

.phone-icon {
  @include mq(tablet-only) {
    width: 10px;
    height: 14px;
  }
}
