// Fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Colors
$main-color: #757575;
$secondary-color: #212121;
$white-color: #fff;
$accent-color: #2196f3;
$hover-color: #188ce8;
$bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$grey-bg-color: #c4c4c4;
$icons-main-color: #afb1b8;
$black-color: #000;

// Animations
$anim-duration: 250ms;
$anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
